!!!
%html(dir="ltr" lang="en-US" class=" -webkit")
  %head
    %title WOD ME
    %script(src="js/prefixfree.min.js")
    %link(rel="stylesheet" href="css/bootstrap.css")
  %body
    %div.container
      %div.page-header
        %h1== Workout for #{@now.strftime('%F')}
      = yield
      %div.page-footer
        = @now 
